@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* CSS RESET
====================================================================================================
====================================================================================================
*/


html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, button,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;

	box-sizing: border-box;

}

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* BODY
====================================================================== */
body { line-height: 1; }


/* LISTS - Clear bullets
====================================================================== */
ol, ul { list-style: none; }


/* QUOTES
====================================================================== */
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* TABLES
====================================================================== */
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* BEGIN GLOBAL STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++
====================================================================== */

html {
  font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
  background-color: #DBC8B5;
  font-size:1.8rem;
  color:#171924;
	line-height: 2.4rem;
}

h1,h2,h3,h4,h5,h6,p {
	padding:1rem;
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
}


h1 {
	font-size:4rem;
}
h2 {
  font-size:3rem;
}

h3 {
	font-size:2.4rem;
}

h4{ font-size:2rem;}

h5{ font-size:1.8rem;}

h6{ font-size:1.4rem;}


h2 {
  padding: 1rem;
  font-size:3rem;
}

button {
  background-color:#A77643;
  border-radius:5px;
  padding: .8rem 4rem;
  text-align:center;
  font-style: italic;
}

button:hover {
  background-color:#BD9872;
  transition:.4s;
  cursor:pointer;
  transition-timing-function: ease;
}

nav {
	background-color:#171924;
	height: 70px;
	display: flex;
	align-items: center;
}

blockquote {
	font-style: italic;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

#hamburger {
	width:30px;
	margin-left:20px;
}

#hamburger:hover {
	cursor: pointer;
}

.Editor, .Live {
	padding:0;
}

textarea {
	padding:1rem;
}

.sidebar {
	float:left;
	background-color:#25272F;
	width:225px;
	height:100vh;
	padding:2rem;
	z-index:10;
	opacity:.8;
}

.sideNav {
	padding:2.4rem;
	margin-top: .5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
	border:2px solid transparent;
	border-radius:25px;
}

.sideNav:hover {
	cursor:pointer;
	border-color:#ffffff;
	transition:.6s;

}

.sideNav p {
	color:#fff;
	font-size:2.4rem;
	line-height: 2.8rem;
	text-align: center;
}

.sideNav img {
	margin:auto;
	max-width: 90px;
}

textarea:focus {
	outline: none;
}
